<header id="header" class="flex ali-center">
    <h1 id="header_title"><a href="/">Vite Store</a></h1>
    <nav id="header_nav">
        <ul id="nav_ul" class="flex">
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Categorias</a></li>
            <li><a href="/">Suporte</a></li>
        </ul>
    </nav>
</header>