<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs') -%>
        <title>Vite Store</title>
    </head>
    <body>
        <%- include('./partials/header.ejs') -%>
        <div id="shop_container"></div>
        <%- include('./partials/scripts.ejs') -%>
    </body>
</html>
